<h2>This heading (and the stuff below it) comes from Ember.</h2>
<navigation>
  <ul>
    <li><LinkTo @route='categories'>Categories</LinkTo></li>
    <li><LinkTo @route='locations'>Locations</LinkTo></li>
  </ul>
</navigation>
{{outlet}}